@{
    ViewData["Title"] = "Contacto";
}
<section>
    <img id="img_contacto" src="~/img/Imagens_site/strawberries-1330459_192022.jpg" alt="Alternate Text"/>
    <div style="display: flow-root;position: relative;margin-bottom: 197px;">
        <div id="Info-Contacto" class="col-md-6">
            <div class="dados_contato">
                <h2>Fresh Fruit</h2>
                <h3>Avenida daquela zona, 000, 0000-000, CidadeX</h3>
            </div>
            <p></p>
            <div class="dados_contato">
                <h2>Email</h2>
                <h3>geral@grupo1.com</h3>
            </div>
            <p></p>
            <div class="dados_contato">
                <h2>Número telemóvel</h2>
                <h3>+351 000000000</h3>
            </div>
        </div>
        <div id="Info-Contacto" class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Seu nome</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Número telemóvel</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
        </div>
    </div>
</section>




