<div class="menu_gestao">
    <div class="col-md-6">
        <div class="img_collection">
            <a asp-controller="Produtos" asp-action="CreateProduto">
                <img src="~/img/Imagens_site/addProduto.png" alt="Gestão Produto">
            </a>
        </div>
        <div class="info_col text-center">
            <h3 class="title_collection">
                Criar Produto
            </h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="img_collection">
            <a asp-controller="Produtos" asp-action="ListaProdutosGestao">
                <img src="~/img/Imagens_site/editProduto.png" alt="EditProdutos" title="Edit">
            </a>
        </div>
        <div class="info_col text-center">
            <h3 class="title_collection">
                Editar Produtos
            </h3>
        </div>
    </div>
</div>

