@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="" style="text-align: center">
    <img id="stopimage" src="~/img/Imagens_site/Stop.png" alt="Alternate Text" />
    @if (Model.ShowRequestId)
    {
        <label style="text-align: center; font-size: 100%;">
            <code>@Model.RequestId</code>
        </label>
    }
    <hr />
    <a href="/Identity/Account/Login" type="button" class="btn btn-secondary">Login</a>
    <a href="/Home/Produto" type="button" class="btn btn-secondary">Voltar aos produtos</a>
</div>


