@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="" style="text-align: center">
    <h1 class="text-danger">Ups!!.</h1>
    @if (Model.ShowRequestId)
    {
        <label style="text-align: center">
            <code>@Model.RequestId</code>
        </label>
    }
    <hr />
    <a href="/Identity/Account/Login" type="button" class="btn btn-secondary">Login</a>
    <a href="/Home/Produto" type="button" class="btn btn-secondary">Voltar aos produtos</a>
</div>


