@*VISTA PARA O POPUP DE ESCOLHA DE LOGIN/REGISTO/AREA DE FUNCIONARIO*@

<section id="page-login" style="display: none">
    <div id="menu-login-mask">
        <div id="menu-login">
            <div>
                <img class="displayed" id="fruit-logo-login" src="~/img/Imagens_site/frut2-semFundo.png">
            </div>
            <hr id="hr-menu-log">
            <button id="close-login" type="button" class="fa fa-close" onclick="MudarestadoHide('page-login')"></button>
            <form action="/" method="post">
                <div class="area-login">
                    <h3>Bem vindo</h3>
                </div>
                <div class="btn-login">
                    <a href="/Identity/Account/Login"><input type="button" name="btn-login" id="btn-login" value="LOGIN"></a>
                    <a href="/Identity/Account/Register"><input type="button" name="btn-novoRegisto" id="btn-novoRegisto" value="NOVO REGISTO"></a>
                    <a asp-controller="Funcionarios" asp-action="LoginFuncionario"><input type="button" name="btn-novoRegisto" id="btn-novoRegisto" value="ÁREA ADMINISTRADOR"></a>
                </div>
            </form>
        </div>
    </div>
</section>
