@*POPUP QUANDO SE ADICIONA PRODUTO AO CARRINHO COM SUCESSO*@

<div class="container">
    <div id="caixa-popup">
        <div id="centrar-popup">
            <div id="effect" class="ui-widget-content ui-corner-all">
                <h4 id="ProdutoAdd" class="ui-widget-header ui-corner-all">Produto adicionado no</h4>
                <h6>
                    Obrigado
                </h6>
            </div>
        </div>
    </div>
</div>
