<section id="page-login" style="display: none">
    <div id="menu-login-mask">
        <div id="menu-login">
            <input type="text" name="search" placeholder="procure o seu artigo..." />
        </div>
    </div>
</section>
