@inject Projeto_Rumos.ApiConector.ApiConnector lista
@using Newtonsoft.Json;


@*VISTA PARA A LUPA/PROCURA COM PRE-PREENCHIMENTO DOS PRODUTOS EXISTENTES*@
<form asp-controller="Home" asp-action="SearchDetails" id="search" style="display: none;
        position: absolute;
        right: 48px;
        margin-top: 169px;">
    <input type="text" name="consulta" list="listaProdutos" style="height: 30px; width: 217px" />
    <button type="submit" class="fa fa-search" style="position: absolute; right: 0; height: 27px; border: none; background: none;"></button>
    <datalist id="listaProdutos">
        @*AQUI É FORNECIDO PARA O INPUT OS PRODUTOS DISPONIVEIS PARA PESQUISA*@
        @{
            var listaNomesProdutos = lista.Get("Produtos");
            var produtos = JsonConvert.DeserializeObject<IEnumerable<Models.Produto>>(listaNomesProdutos);
        }
        @foreach (var item in produtos)
        {
            <option value="@item.Nome"></option>
        }

    </datalist>
</form>