header img.displayed {
    margin-top: -81px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

header nav ul li a:hover {
    background-color: black;
}

header hr {
    margin-top: -101px;
    margin-bottom: 2px;
    border: black 4px solid;
    width: 100%;
    position: absolute;
}

body {
    width: 100%;
    overflow-x: hidden;
}

    body .container {
        width: 100%
    }


#bk-contactos {
    background-image: url(/img/Imagens_site/strawberries-1330459_1920.jpg);
    background-repeat: no-repeat;
}

#img_contacto {
    position: absolute;
    display: block;
    width: 100%;
    width: 101%;
    height: 95%;
}

#Info-Contacto {
    text-align: center;
    margin-top: 1%;
    text-shadow: 1px 4px 7px #000000;
    color: white;
    display: flow-root;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex: 0 0 0
}

.row p {
    color: black;
    font-size: medium;
}

.row {
    margin-inline: 82px;
}


.area-login p {
    text-align: center;
    font-size: 22px;
    color: black;
    text-shadow: none;
}

.Login_Register_Page {
    background: rgba(222, 227, 201, 1.8);
    flex-direction: row;
    justify-content: center;
    align-items: center
}

    .Login_Register_Page a {
        font-size: x-large;
        color: ghostwhite;
    }

    .Login_Register_Page form {
        width: 100%;
        text-align: center;
    }

    .Login_Register_Page input, button {
        text-align: center;
    }

    .Login_Register_Page hr {
        border-top: 3px solid #000;
    }

#btn-bars {
    display: none;
}

#btn-users {
    float: right;
    background: none;
    border: none;
    font-size: 25px;
    margin-top: 170px;
    margin-inline: 11px;
}

#btn-search {
    float: right;
    background: none;
    border: none;
    font-size: 25px;
    margin-top: 170px;
    margin-inline: 11px;
}

#btn-central {
    width: 200px;
    height: 48px;
    font-family: monospace;
    font-size: 25px;
    margin-inline: 43px;
    background: orange;
    color: white;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    text-shadow: 1px 4px 7px #000000;
}

#icons-menu {
    position: absolute;
    right: 0;
    margin-top: 0px;
    z-index: 3;
}

.menu-item a {
    color: black;
    font-size: x-large;
    font-style: italic;
    margin-right: 20px;
}

#Img-Produto {
    position: relative;
    margin-top: -19%;
    width: 100%;
    display: block;
}

.nav-link {
    margin-inline: 44px;
    text-shadow: 1px 4px 7px #000000;
}

nav ul li:hover {
    background-color: black;
}



#frutas-central {
    width: 138%;
    margin-top: 42px;
    margin-inline: -206px;
}

section h1.displayed {
    font-size: 100px;
    color: white;
    font-family: monospace;
    margin-top: -617px;
    text-align: center;
}


section .btn {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.texto-pricipal {
    position: absolute;
    text-align: center;
    margin-top: -42%;
    width: 100%;
}

    .texto-pricipal h3, p {
        color: white;
        font-size: xxx-large;
        font-style: italic;
        text-shadow: 1px 4px 7px #000000;
    }

.card-text {
    display: block;
    color: black;
}

.card-title {
    text-shadow: 1px 4px 7px #000000;
    color: black;
}

.col-xl-4 {
    display: inline-block;
    margin-top: 10px;
    margin-right: -9px;
}


#redes_sociais_footer {
    float: right;
    margin-right: 22px;
    position: relative;
    margin-top: -36px;
    display: block;
}

#img-footer {
    width: 69%;
}

.row a, h4 {
    color: white;
}

.row li, h4 {
    margin-bottom: 5px;
}

.card img:hover {
    opacity: 0.5;
    transition: 1s;
}

#primeiro_t {
    color: white;
    margin-top: -22%;
    position: absolute;
    display: flex;
    left: 10%;
}

#segundo_t {
    color: white;
    margin-top: -22%;
    position: absolute;
    display: flex;
    right: 10%;
}

.menu_gestao {
    padding-inline: 80px;
    width: 100%;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .menu_gestao img {
        transition: all .5s;
        border: 10px solid transparent;
        width: 100%;
    }

        .menu_gestao img:hover {
            border: 10px solid #136497;
            border-radius: 50%;
            width: 100%;
        }

#centrar-popup {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    top: 100px;
}

#caixa-popup {
    display: none;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
}

#effect {
    width: 390px;
    height: 268px;
    padding: 0.4em;
    position: relative;
    background-image: url(/img/Imagens_site/icon-1415760_640.png);
    background-size: cover;
    color: white;
    border: none;
    text-shadow: 1px 4px 7px #000000;
    border-radius: 20px;
    z-index: 10;
}

    #effect h6 {
        text-align: center;
        color: white;
        font-size: xx-large;
        margin-top: 173px;
    }

    #effect h4 {
        text-align: center;
        background: none;
        border: none;
        font-size: x-large;
        color: white;
    }


.box-wrap {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tamanhoCartaoProduto {
    width: 27%;
}

.box {
    background: white;
    margin: 10px;
    width: 30%;
    border: none;
    transition: .2s all;
    box-shadow: 3px 9px 5px 5px rgba(0,0,0,0.125);
}

.box-wrap:hover .box {
    /*filter: blur(3px)*/;
    /*opacity: .5;*/
    /*transform: scale(.98);*/
    box-shadow: none;
    box-shadow: 3px 9px 5px 5px rgba(0,0,0,0.125);
}

    .box-wrap:hover .box:hover {
        transform: scale(1.2);
        filter: blur(0px);
        opacity: 1;
        box-shadow: 3px 9px 5px 5px rgba(0,0,0,0.125);
        z-index: 9;
    }

#footer-contact {
    margin-top: 41%;
}

.top-footer {
    padding-top: 39px;
}

.footer-black {
    background-color: black;
    height: 289px;
    position: absolute;
    width: 101%;
    bottom: auto;
}

footer hr {
    margin-top: -11px;
    margin-bottom: 2px;
    border-bottom: grey 3px solid;
    width: 100%;
    position: absolute;
}

.footer-black p {
    color: white;
    font-size: 19px;
    position: relative;
    margin-top: 19px;
    margin-left: 29px;
}
