
<div class="menu_gestao">
    <div class="col-md-6">
        <div class="img_collection">
            <a asp-controller="Produtos" asp-action="MenuGestaoProduto">
                <img src="~/img/Imagens_site/apples-2607193_640.jpg" alt="Gestão Produto">
            </a>
        </div>
        <div class="info_col text-center">
            <h3 class="title_collection">
                Gestão Produto
            </h3>
        </div>

    </div>
    <div class="col-md-6">
        <div class="img_collection">
            <a asp-controller="Funcionarios" asp-action="Index">
                <img src="~/img/Imagens_site/meeting-5882508_640.jpg" alt="Gestão Funcionarios">
            </a>
        </div>
        <div class="info_col text-center">
            <h3 class="title_collection">
                Funcionários
            </h3>
        </div>
    </div>
</div>
